---
layout: default
---
<figure class="featured giveabit">
	<a href="/work/giveabit/">
		<!--<h1><span>Dailytidbit</span></h1>
		<img src="http://jefff.co//dailytidbit.jpeg" />-->
	</a>
</figure>
<div class="sub">
	<ul class="sub minus">
		<!--{% for post in site.categories.work limit:1 %}
		<li><a href="{{ post.url }}" data-icon="⚡">{{ post.title }}</a></li>
		{% endfor %}-->
		<li><a href="/work/giveabit/" data-icon="⚒">Giveab.it</a></li>
	</ul>
	<h2>Recent Thoughts</h2>
	<ul class="sub">
		{% for post in site.categories.thought limit:5 %}
		<li>
			{% if post.external_link %}
			<a href="{{ post.external_link }}" class="alt" data-icon="⇗">{{ post.title }} <span>{{post.date | date: "%b %Y"}}</span></a>
			{% else %}
			<a href="{{ post.url }}" data-icon="⚡">{{ post.title }} <span>{{post.date | date: "%b %Y"}}</span></a>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
</div>