html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:"";content:none}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}body{font:13px/1.231 sans-serif;*font-size:small}select,input,textarea,button{font:99% sans-serif}pre,code,kbd,samp{font-family:monospace,sans-serif}html{overflow-y:scroll}a:hover,a:active{outline:none}ul,ol{margin-left:2em}ol{list-style-type:decimal}nav ul,nav li{margin:0;list-style:none;list-style-image:none}small{font-size:85%}strong,th{font-weight:bold}td{vertical-align:top}sub,sup{font-size:75%;line-height:0;position:relative}sup{top:-0.5em}sub{bottom:-0.25em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;padding:15px}textarea{overflow:auto}.ie6 legend,.ie7 legend{margin-left:-7px}input[type="radio"]{vertical-align:text-bottom}input[type="checkbox"]{vertical-align:bottom}.ie7 input[type="checkbox"]{vertical-align:baseline}.ie6 input{vertical-align:text-bottom}label,input[type="button"],input[type="submit"],input[type="image"],button{cursor:pointer}button,input,select,textarea{margin:0}input:valid,textarea:valid{}input:invalid,textarea:invalid{border-radius:1px;-moz-box-shadow:0px 0px 5px red;-webkit-box-shadow:0px 0px 5px red;box-shadow:0px 0px 5px red}.no-boxshadow input:invalid,.no-boxshadow textarea:invalid{background-color:#f0dddd}::-moz-selection{background:yellow;color:#040707;text-shadow:none}::selection{background:yellow;color:#040707;text-shadow:none}a:link{-webkit-tap-highlight-color:yellow}button{width:auto;overflow:visible}.ie7 img{-ms-interpolation-mode:bicubic}.cf:before,.cf:after{content:"";display:table}.cf:after{clear:both}.cf{zoom:1}body,select,input,textarea{color:#444}h1,h2,h3,h4,h5,h6{font-weight:bold}a,a:active,a:visited{color:#040404;text-decoration:none}a:hover{}@font-face{font-family:'OldSansBlackRegular';src:url('oldsansblack-webfont.eot');src:url('oldsansblack-webfont.eot?#iefix') format('embedded-opentype'),url('oldsansblack-webfont.woff') format('woff'),url('oldsansblack-webfont.ttf') format('truetype'),url('oldsansblack-webfont.svg#OldSansBlackRegular') format('svg');font-weight:normal;font-style:normal}

/*******************
Begin Styles
*******************/

html { height:auto; background:#004481; }
body { width:280px; font-size:100%; height:100%; overflow:auto; line-height:1.5; color:#d7f2fe; font-weight:400; font-family:"Helvetica Neue", sans-serif; text-rendering:optimizeLegibility; letter-spacing:normal; position:relative; padding:20px; text-shadow:0 1px 0 rgba(0,0,0,0.4); }

h1 { font-size:300%; font-weight:600; line-height:1.1; margin:0 0 .5em; text-shadow:0 2px 0 #004481, 0 0 5px #a2e1fb; text-transform:capitalize; }
h1 strong { display:block; font-size:50%; opacity:.8; padding:.4em 0 0; }
h2 { font-size:250%; font-weight:600; line-height:1.1; margin:0 0 .5em; text-shadow:0 1px 0 #004481, 0 0 5px #a2e1fb; text-transform:capitalize; }

p { margin:0 0 1.5em; color:white; }

a:link, a:visited { background:#07b3d2; color:white; padding:3px 6px 4px; font-weight:bold; margin:0 2px; }
a:hover { background:#159cb5; }
a:active {  }

.share { margin-bottom:1.5em; padding-bottom:1.5em; border-bottom:1px solid #d7f2fe }

.button:link, .button:visited { display:block; text-align:center; padding:10px 0; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; text-shadow:0 1px 0 rgba(255,255,255,0.3); color:#003666; margin:0 0 1.5em;
background: #d7f2fe;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#d7f2fe), to(#a2e1fb));
background: -webkit-linear-gradient(#d7f2fe, #a2e1fb);
background: -moz-linear-gradient(#d7f2fe, #a2e1fb);
background: -ms-linear-gradient(#d7f2fe, #a2e1fb);
background: -o-linear-gradient(#d7f2fe, #a2e1fb);
background: linear-gradient(#d7f2fe, #a2e1fb);
border:1px solid #003666;
box-shadow:0 1px 3px #011b33, 0 1px 5px #a2e1fb, 0 1px 1px white inset; -webkit-box-shadow:0 1px 3px #011b33, 0 1px 5px #a2e1fb, 0 1px 1px white inset; -moz-box-shadow:0 1px 3px #011b33, 0 1px 5px #a2e1fb, 0 1px 1px white inset;
}

.button:hover { border-color:#101010; }

.button:active { padding:11px 0 9px;
background: #a2e1fb;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#a2e1fb), to(#d7f2fe));
background: -webkit-linear-gradient(#a2e1fb, #d7f2fe);
background: -moz-linear-gradient(#a2e1fb, #d7f2fe);
background: -ms-linear-gradient(#a2e1fb, #d7f2fe);
background: -o-linear-gradient(#a2e1fb, #d7f2fe);
background: linear-gradient(#a2e1fb, #d7f2fe);
box-shadow:0 1px 3px #015aaa inset; -webkit-box-shadow:0 1px 3px #015aaa inset; -moz-box-shadow:0 1px 3px #015aaa inset;
}

.home:link, .home:visited { display:block; border-radius:3px 0 0 3px; background:rgba(0,0,0,0.3); text-align:right; padding:5px 15px; color:#d7f2fe; font-size:90%; text-transform:uppercase; opacity:.5; }
.home:hover { opacity:.7; padding:5px 50px 5px 15px; }
.home:active { opacity:1; padding:6px 50px 4px 15px; }

@media screen and (min-width:400px) {
	body { width:360px; }
	h1 strong { font-size:60%; }
	.home { position:fixed; bottom:15px; right:0; }
}

@media screen and (min-width:500px) {
	body { width:460px; }
}

@media screen and (min-width:600px) {
	body { width:500px; }
}