/*! normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
.snippet,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:'Arimo', 'Helvetica Neue', Arial, sans-serif;}body{margin:0}a:focus{outline:thin dotted}a:hover,a:active{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.75em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000}p,pre{margin:1em 0}pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}
* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	/*-webkit-font-smoothing:antialiased;*/
}
::selection {
	background:#dc8100;
	color:white;
	text-shadow:none;
}
::-moz-selection {
	background:#dc8100;
	color:white;
	text-shadow:none;
}
html {
	height:auto;
	min-height:100%;
	width:100%;
	font:100%/1.5 'Arimo', 'Helvetica Neue', Arial, sans-serif;
	overflow:auto;
	line-height:1.5;
	color:#666;
	background:#efefef;
	position:relative;
	letter-spacing:normal;
	/*border:2px solid #0BAADB;*/
	text-shadow:0 1px 0 rgba(255,255,255,0.5);
}
/*html.resume {
	background:#272822;
	color:white;
	text-shadow:0 1px 0 rgba(0,0,0,0.5);
}*/
body {
	width:100%;
	height:100%;
}
h1, h2, h3 {
	line-height:1.1;
	font-family:'Domine', serif;
}
h1 { font-size:2.5em; }
h2 { font-size:2em; }
h3 { font-size:1.5em; }

h1, h2, h3, h4, p {
	margin:1.25em 0 .65em;
}

.cf:before, .cf:after, header:before, header:after { content:""; display:table; }
.cf:after, .clear, header:after { clear:both; }
.cf, header { *zoom:1; }

a {
	color:#0BAADB;
	font-weight:bold;
	-webkit-transition:.2s all ease-out;
	-moz-transition:.2s all ease-out;
	transition:.2s all ease-out;
}
a:hover {
	text-decoration:none;
}
a:active {
	-webkit-transition:none;
	-moz-transition:none;
	transition:none;
	text-decoration:none;
}

[role=banner] {
	/*background: #0BAADB;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#0BAADB), to(#109BC6));
	background: -webkit-linear-gradient(#0BAADB, #109BC6);
	background: -moz-linear-gradient(#0BAADB, #109BC6);
	background: -ms-linear-gradient(#0BAADB, #109BC6);
	background: -o-linear-gradient(#0BAADB, #109BC6);
	background: linear-gradient(#0BAADB, #109BC6);*/
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	width:100%;
	margin:0;
	text-shadow:0 1px 0 rgba(0,0,0,0.2), 0 2px 1px rgba(0,0,0,0.1);
}
header h2 {
	margin:.75em .6em;
	padding:.5em 0;
	text-align:right;
	float:left;
	position:relative;
	z-index:2;
	letter-spacing:-.04em;
	/*background:rgba(0,0,0,0.5);*/
	font-size:125%;
}
/*header h2:after {
	content:attr(data-icon);
	position:relative;
	right:-.25em;
	color:white;
	-webkit-font-smoothing:subpixel-antialiased;
}*/
header h2 a {
	color:white;
}
header h2:active {
	opacity:.6;
}
header h2 span {
	font-size:100%;
	font-weight:normal;
	opacity:.85;
	position:static;
}
header h3 {
	float:right;
	margin:0;
	position:relative;
	z-index:2;
	color:white;
	cursor:pointer;
	font-size:.85em;
	position:relative;
	top:1.5em;
	right:1em;
}
header h3:active {
	opacity:.75;
}
header h3 a {
	display:block;
	height:2em;
	width:2em;
	/*position:relative;
	top:.5em;
	right:1em;*/
}
header img {
	 height:auto;
	 width:30px;
}
/*header h3:before {
	content:attr(data-icon);
	position:absolute;
	right:.5em;
	top:.6em;
	line-height:1;
	font-size:225%;
	padding:.15em .25em;
	background:rgba(0,0,0,0.5);
}*/
header .active {
	color:#040407;
}
nav {
	position:absolute;
	top:-9999px;
	left:0;
	z-index:1;
	padding:1em;
	width:100%;
	background:white;
	text-align:center;
	border-bottom:1px solid #ccc;
	-webkit-transition:.2s all ease-out;
	-moz-transition:.2s all ease-out;
	transition:.2s all ease-out;
}
nav span, nav span a {
	display:block;
	width:100%;
	background:rgba(0,0,0,0.025);
}
nav span a {
	padding:1em;
	width:auto;
	margin:0 0 1em;
}
nav span:last-child a {
	margin:0;
}
nav span a:before {
	content:'view some ';
}
.shown {
	top:75px;
}
header a {
	text-decoration:none;
	color:#999;
}

[role=whoami] {
	margin:0 auto;
	padding:2em 1em 1.5em;
	text-align:center;
	display:none;
}

figure {
	margin:0;
	position:relative;
}
figure.featured {
	background:url(http://jefff.co/images/tmcrnch.jpg) no-repeat 0 0;
	background-size:cover;
	min-height:15em;
	box-shadow:0 0 5px rgba(0,0,0,0.25) inset, 0 0 25px rgba(0,0,0,0.15) inset;
}
figure.featured.giveabit {
	background-image:url(http://jefff.co/images/giveabit-l.png);
}
figure.featured.yesno {
	background-image:url(http://jefff.co/images/yesno-l.png);
	max-width: 40em;
	margin: 0 auto;
}
span.yesno {
	background: #040407;
	display: block;
}
figure a {
	/*background:url(/images/dailytidbit.jpeg) no-repeat 0 0;
	background-size:cover;*/
	display:block;
	width:100%;
	min-height:15em;
	/*padding:3em;
	-webkit-transition:.2s all ease-out;
	-moz-transition:.2s all ease-out;
	transition:.2s all ease-out;*/
}

/*figure.mood a {
	background:url(http://jefff.co/images/css-mood-board.png) no-repeat 0 0;
}*/

.work figure {
	margin:1em 0;
}
.works figure a {
	height:70px;
	
}
.works figure {
	height:70px;
	width:100%;
	margin:0 0 1em;
	background:#0BAADB;
	overflow:hidden;
}
.works figure a h1 {
	bottom:0;
	right:0;
	width:auto;
	margin:0;
	height:70px;
	padding:28px 25px 20px;
	text-align:right;
	background:#0BAADB;
}

.case figure img {
	border:3px solid #ccc;
}
.case .details.c h2 {
	margin:0;
}

.details.f img {
	display:block;
	margin:0 auto;
}
/*.details.f {
	float:left;
	max-width:35em;
	padding:0 0 0 10em;
}
.details.f * {
	text-align:left;
	padding:0;
}
img.f {
	float:right;
	margin:2em 5em 0 0;
}*/

.case figure + .details {
	padding-top:0;
}

/*figure a:hover {
	box-shadow:0 0 5px rgba(0,0,0,0.5) inset, 0 0 25px rgba(0,0,0,0.25) inset;
	opacity:.8;
}*/
figure img {
	max-width:100%;
	display:block;
}
figure h1, .inner.thoughts .sub figure h1 {
	position:absolute;
	bottom:0;
	right:0;
	background:#0BAADB;
	line-height:1;
	padding:1em;
	margin:0;
	color:white;
	font-size:100%;
	text-shadow:0 1px 0 rgba(0,0,0,0.2), 0 2px 1px rgba(0,0,0,0.1);
}
.inner.thoughts .sub figure h1 {
	display:block;
	height:auto;
	width:auto;
}
figure h1 {
	text-align:center;
	background:none;
	width:100%;
	padding:0;
}
figure h1 span {
	/*background:#7bc9b6;*/
	background:#0BAADB;
	line-height:1;
	padding:1em;
	margin:0;
	position:relative;
	top:auto;
	bottom:0;
	color:white;
	font-size:100%;
	text-shadow:0 1px 0 rgba(0,0,0,0.2), 0 2px 1px rgba(0,0,0,0.1);
	z-index:2;
}
[role=main] header {
	display:table;
	background:url(http://jefff.co/images/bean.jpg) no-repeat 0 20%;
	/*background-image:url(http://distillery.s3.amazonaws.com/media/2011/04/25/bfe21e4e56164924833872028da937fc_7.jpg);*/
	background-size:cover;
	height:15em;
	margin:0;
	width:100%;
	box-shadow:0 0 5px rgba(0,0,0,0.25) inset, 0 0 25px rgba(0,0,0,0.15) inset;
}
[role=main] header.work {
	background-image:url(http://jefff.co/images/indierock-o.jpg);
}
[role=main] header.work.i {
	background-image:url(http://jefff.co/images/code-s.png);
	background-position:20px 0;
	background-color:#272822;
	background-size:auto;
	/*-webkit-filter:sepia(0.5) saturate(0.5);*/
}
[role=main] header.about {
	background-image:url(http://jefff.co/images/bonfire.jpg);
}
[role=main] header.resume {
	background-image:url(http://jefff.co/images/brawler.jpg);
}
[role=main] header h1 {
	position:static;
	display:table-cell;
	height:100%;
	vertical-align:bottom;
	font-size:200%;
	padding:0 1em 1em;
	color:white;
	text-align:center;
	text-shadow:0 1px 0 rgba(0,0,0,0.3), 0 2px 1px rgba(0,0,0,0.2), 0 3px 2px rgba(0,0,0,0.15);
}
.inner figure img {
	max-width:auto;
	margin:0 auto;
}
.work figure img {
	
}

[role=main] {
	padding:0 0 3em;
}
.inner [role=main] {
	padding:0 0 3em;
}

[role=main] h2, footer h3 {
	padding-top:2em;
	text-align:center;
}
[role=main] h2.n {
	padding-top:.5em;
	margin-bottom:0;
	font-size:150%;
}
[role=main] .work h2 {
	padding-top:0;
}
[role=main] ul, footer ul {
	margin:0 auto;
	padding:0;
}
[role=main] ul.sub.pad {
	margin-top:3em;
}
[role=main] ul.sub.minus {
	margin-top:-1.5em;
}
.sub.minus a:before {
	font-size:125%;
}
.minus + h2 {
	padding-top:0;
}
[role=main] h2 + ul {
	margin-top:2em;
}
footer ul {
	padding-bottom:.75em;
}
li {
	position:relative;
	list-style:none;
	text-align:center;
	padding:0;
	margin:0 1em;
}
li a {
	display:block;
	font-weight:bold;
	background:#0BAADB;
	line-height:1;
	padding:1em 0;
	color:white;
	margin-bottom:1em;
	text-decoration:none;
	text-shadow:0 1px 0 rgba(0,0,0,0.2), 0 2px 1px rgba(0,0,0,0.1);
}
li a span {
	font-size:70%;
	text-transform:uppercase;
	opacity:.75;
	padding:0 0 0 .5em;
	display:none;
}
li a.alt {
	background:#7bc9b6;
}
li a:hover {
	background:#0987AD;
}
li a.alt:hover {
	background:#4ba48e;
}
li a:active {
	background:#037699;
	/*padding-top:1.05em;
	padding-bottom:.95em;*/
}
li a.alt:active {
	background:#248069;
}
li a:before {
	content:attr(data-icon);
	position:relative;
	left:-.5em;
	-webkit-font-smoothing:subpixel-antialiased;
}
li a.alt:before {
	content:none;
	display:none;
}
li a.alt:after {
	content:attr(data-icon);
	position:relative;
	right:-.5em;
	-webkit-font-smoothing:subpixel-antialiased;
}

article li a {
	display:inline;
	padding:0;
	background:none;
	color:#0BAADB;
	text-decoration:underline;
	text-shadow:none;
}
article li a:hover {
	background:none;
}

pre {
	font-size:85%;
	padding:1em;
	background:#7bc9b6;
	color:white;
	-webkit-font-smoothing:subpixel-antialiased;
	text-shadow:0 1px 0 rgba(0,0,0,0.2), 0 2px 1px rgba(0,0,0,0.1);
}

article img {
	display:block;
	width:100%;
	max-width:100%;
	margin:1em 0 1em;
	border:3px solid #ccc;
}

.button, .view-more {
	clear:both;
	display:block;
	margin:2em auto 1em;
	width:100%;
	background:#0BAADB;
	color:white;
	padding:.5em;
	text-align:center;
	text-decoration:none;
	text-shadow:0 1px 0 rgba(0,0,0,0.2), 0 2px 1px rgba(0,0,0,0.1);
}
.button {
	width:auto;
}
.ex {
	padding:0 1em;
}
.view-more {
	margin-bottom:1.5em;
}
.button:before {
	content:attr(data-icon);
	position:relative;
	left:-.5em;
	-webkit-font-smoothing:subpixel-antialiased;
}
.button:hover, .view-more:hover {
	background:#0987AD;
}
.button:active, .view-more:active {
	background:#037699;
	/*padding:.6em .5em .4em;*/
}
.button.disabled {
	background:rgba(0,0,0,0.2);
	font-weight:bold;
}

footer h3 {
	border-top:4px solid rgba(0,0,0,0.075);
	padding-top:3em;
	margin:0 .75em 1.5em;
}
footer hr {
	background:none;
	border:0;
}
footer h3:before, hr:before {
	content:attr(data-icon);
	position:relative;
	left:-.5em;
	-webkit-font-smoothing:subpixel-antialiased;
}
hr:before {
	display:block;
	text-align:center;
	margin:2em 0;
	color:#777;
}
footer div {
	opacity:.7;
	padding:0 1em 2em;
	text-align:center;
}
footer div p:last-child {
	display:none;
}
footer li a {
	background:#555;
}
footer li a:hover {
	background:#333;
}
footer li a:active {
	background:#333;
	color:rgba(255,255,255,0.75);
}

.details {
	padding:1em;
}
.details h2:before, article h2:before {
	content:attr(data-icon);
	display:block;
	opacity:.35;
	padding:0 0 .5em;
	-webkit-font-smoothing:subpixel-antialiased;
}
.details h3 {
	text-transform:uppercase;
	border-top:2px solid #ccc;
	padding-top:1em;
}
.details .middle {
	display:block;
	margin:0 auto;
	max-width:100%;
}
.details.c * {
	text-align:center;
}
.details.c .non {
}
.details.c .non li {
	text-align:left;
	padding:0 0 0 1em;
	margin:0 0 1em;
	border-left:.5em solid #ccc;
}
.work .details li {
	text-align:left;
	padding:0 0 0 1em;
	margin:0 0 1em;
	border-left:.5em solid #ccc;
}
.details.c .non li:after, .work .details li:after {
	content:",";
}
.details.c .non li:last-child:after, .work .details li:last-child:after {
	content:"";
}
.resume footer, .resume header h1, .resume header h3 {
	display:none;
}
.resume header.resume {
	background:red;
	box-shadow:none;
	min-height:auto;
	height:auto;
}
.details.r * {
	text-align:left;
	/*font-family:Consolas, Inconsolata, Monaco, monospace;*/
}
/*.details.r h3, .details.r h3 strong {
	font-size:100%;
	margin:-.5em 0 1em;
	color:#75715e;
	font-family:'Arimo', 'Helvetica Neue', Arial, sans-serif;
}
.details.r h3 strong {
	margin:0;
}
.r h2 + h3:before {
	content:"// ";
}
.r h2 + h3 strong {
	float:right;
}
.r h2 {
	color:#a6e22d;
}
.r ul:before, .r ul:after {
	content:"\007B";
	display:inline-block;
	position:relative;
	top:0;
	left:-1em;
	color:white;
}
.r ul {
	padding:0 0 0 1em;
}
.r ul:after {
	content:"\007D";
}
.r li {
	color:#66d9ef;
	margin-bottom:1em;
	line-height:1.35;
	font-size:90%;
}
.r li:last-child {
	margin-bottom:0;
}
.r li:after {
	content:",";
	display:inline;
	position:relative;
	left:-..025em;
}
.r li:last-child:after {
	content:""
}
.r li em, .r li strong {
	font-style:normal;
	font-weight:normal;
	color:#f92772;
}*/
article h2 {
	position:relative;
}
article h2.h a {
	display:none;
	font-size:40%;
}
article .h span {
	font-size:50%;
	font-weight:normal;
	opacity:.5;
	display:block;
	padding:.5em 0 0;
}
article h2:before {
	display:block;
}
small, .pad-bot {
	display:block;
	margin:1em 0;
}
[role=main] .details h2 {
	padding:0;
}
.details h2.a {
	margin-top:0;
}

article {
	padding:1em;
}
.thoughts article ol, .thoughts article ul {
	margin:1em 0;
	padding:0 0 0 3em;
}
article li, .thoughts article h2 {
	text-align:left;
	padding:0;
}
.thoughts article h2:first-child {
	margin-top:0;
}
.thoughts article li {
	list-style:disc;
	margin:0 0 .5em;
}
.thoughts article ol {
	padding:0;
}
.thoughts article ol li {
	list-style:none;
	padding:0 0 0 6em;
	margin:0 0 2em;
	counter-increment:this;
	position:relative;
}
.thoughts article ol li:before {
	content:'Step 'counter(this);
	display:block;
	opacity:.5;
	font-size:150%;
	font-weight:bold;
	width:100%;
	position:absolute;
	left:0;
}

@media screen and (min-width:30em) {
	/*header h2 span {
		font-size:50%;
		position:relative;
		top:-.25em;
	}*/
	header h2 {
		padding:.5em;
	}
	header h3 {
		font-size:1.25em;
	}
	header h3:before {
		padding:.1em .25em;
		top:.3em;
	}
	header h2 {
		margin:.75em;
		font-size:150%;
	}
	
	figure a {
		min-height:25em;
	}
	.sub, footer, .details, .button, article {
		width:25em;
		margin-left:auto;
		margin-right:auto;
	}
	footer div {
		margin:0 1em 0;
		padding:0 0 2em;
	}
	.details {
		padding:1em 0;
	}
	.inner.thoughts figure h1 {
		padding:0 2em;
	}
	article {
		padding:3em 1em 1em;
	}
	article h2:before {
		display:inline-block;
		position:absolute;
		top:-.1em;
		left:-1em;
	}
	.details.r {
		float:left;
		padding-left:1.9em;
	}
	li a span {
		display:inline-block;
	}
	article .h span {
		float:right;
		font-size:50%;
		font-weight:normal;
		opacity:.5;
		position:absolute;
		top:.1em;
		right:0;
	}
	.details h2.a {
		margin-top:1.25em;
	}
}
@media screen and (min-width:50em) {
	figure a {
		min-height:35em;
	}
	.sub, footer, article {
		width:45em;
	}
	footer div {
		width:25em;
		margin:0 auto;
	}
	.details {
		width:45em;
	}
	.details p, .details ul {
		padding:0 10em;
	}
	.details h3 {
		padding:1.5em 6.5em 0;
	}
	[role=main] header h1 {
		font-size:300%;
	}
	article {
		padding:6em 1em 1em;
	}
}
@media screen and (min-width:60em){
	.resume header h2 {
		position:fixed;
	}
	.details.r {
		float:right;
		padding-left:0;
		padding-right:1.9em;
	}
	.details.r > h2 {

	}
}
@media screen and (min-width:80em){
	article {
		position:relative;
	}
	article h2.h {
		position:absolute;
		margin:1em;
		right:-8em;
		float:right;
		margin:0;
	}
	article h2.h a {
		display:block;
		padding:.5em 0 0;
	}
	article h2.h + p {
		margin-top:0;
	}
	article .h span {
		display:block;
		position:static;
		padding:.5em 0;
		float:none;
	}
}

.button.prose {
	width:auto;
	max-width:25em;
}