---
layout: default
---
<div class="thoughts">
	<header>
		<h1>{{page.title}}</h1>
	</header>
	<article>
		<h2 class="h" data-icon="⚒">{{page.date | date: "%b %d %Y"}}</h2>
		{{ content }}
		<a href="/thoughts" class="button" data-icon="⇤">Back to Thoughts</a>
	</article>
	<!--<div class="sub">
		<h2>Related Work/Thoughts</h2>
		<ul>
		{% for post in site.related_posts %}
			<li>
			{% if post.external_link %}
			<a href="{{ post.external_link }}" class="alt" data-icon="⇗">{{ post.title }}</a>
			{% else %}
			<a href="{{ post.url }}" data-icon="⚡">{{ post.title }}</a>
			{% endif %}
			</li>
		{% endfor %}
		</ul>
	</div>-->
</div>