---
layout: default
---
<header class="work i">
	<h1>{{ page.title }}</h1>

	{{ current_post.work_next }}

</header>
<div class="work">
	{% if page.image %}
	<div class="details">
		{{ content }}
	</div>
	<figure>
		<!--<h1><span>{{page.title}}</span></h1>-->
		<img src="{{ page.image }}" />
	</figure>
	{% else %}
	{{ content }}
	{% endif %}
	<div class="ex"><a href="/work" class="button" data-icon="⇤">Back to Work</a></div>
	<!--<div class="sub">
		<h2>Related Work/Thoughts</h2>
		<ul>
		{% for post in site.related_posts %}
			<li>
			{% if post.external_link %}
			<a href="{{ post.external_link }}" class="alt" data-icon="⇗">{{ post.title }}</a>
			{% else %}
			<a href="{{ post.url }}" data-icon="⚡">{{ post.title }}</a>
			{% endif %}
			</li>
		{% endfor %}
		</ul>
	</div>-->
</div>